<section>

    
    <div class="container">

        <div class="container ">
            <div class="justify-content " >
                <div class="analista-header">
    
                    <div class="usuario">        
                        <h3  style="font-size: 18px;font-weight: 400;">
                            <i class="fas fa-user-edit"></i> <a href="#"><span style="font-size: 26px;"></span>Actualizar Clave</a>
                        </h3>     
                    </div>
            
                </div>
                <form class="row  " novalidate>  
    
                   <div class="">
                        <label for="inputPassword" class=" col-form-label txt">Clave Actual</label>
                        <input type="password" class="form-control" id="inputPassword">
                        <small >Por seguridad ingrese su clave actual.</small>                    
                    </div>   
    
                    <div class="">
                        <label for="inputPassword" class=" col-form-label txt">Nueva Clave</label>
                        <input type="password" class="form-control" id="inputPassword">
                                         
                    </div>   
                    
                    
                    
    
                    <!-- <div class="col-12">                  
                      <button class="btn btn-outline-success actualizar" type="submit">Actualizar Datos</button>
                    </div> -->
                    <div class="col-12">
                        <button class="btn btn-outline-success actualizar " type="submit"> Actualizar </button>
                    </div>
                   
                </form>
            </div>
            
            
        </div>

    </div>
</section>

