<div class="container">
    <div> 
  
        <div>
    
            <div class="analista-header">
    
                <div class="usuario">        
                    <h3  style="font-size: 18px;font-weight: 400;">
                        <i class="fas fa-cogs"></i> <a href="#"><span style="font-size: 26px;"></span>Administracion de Usuarios</a>
                    </h3>     
                </div>
    
            </div>
    
    
    
        </div>
  
        <div>  
  
            <div>   
                <div class="add"> 
                    <div class="btn-1">
                        <button class="btn btn-outline-success agregar" type="submit">
                            <span class="text">Agregar</span> 
                            <span class="icon">
                                <i class="fas fa-user-plus">
                                </i>
                            </span>
                        </button>
                    </div>
                    <br>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                        <button class="btn btn-outline-success buscar" type="submit">Buscar</button>
                    </form>
                </div>  
            </div>

            <div class=" tab">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="txt">Codigo</th>
                            <th class="txt">Empresas</th>
                            <th class="txt">Telefono</th>
                            <th class="txt">Codigo</th>
                            <th class="txt">Empresas</th>
                            <th class="txt">Acción</th>
                        </tr>
                    </thead>
                    <tbody> 
                                
                        <tr class="head">
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td><button class="btn btn-outline-success cambios" type="submit">Realizar Cambios</button></td>
                        </tr>                     
                    </tbody>
                </table>
            </div>  
        </div>      
    </div>  

</div>



