
<div class="container">
    <div> 
  
        <div>
    
            <div class="analista-header">
    
                <div class="usuario">        
                    <h3  style="font-size: 18px;font-weight: 400;">
                        <i class="fas fa-cogs" ></i> <a href="#"><span style="font-size: 26px;"></span>Contabilizar Facturas</a>
                    </h3>     
                </div>
    
            </div>
    
    
    
        </div>
  
        <div>  
  
            <div>   
                <div class="add"> 
                    <div class="btn-1">
                        <button class="btn btn-outline-success agregar" type="submit">
                            <span class="text">Recargar</span> 
                            <span class="icon">
                                <i class="fas fa-sync"></i>
                            </span>
                        </button>
                    </div>
                    <br>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                        <button class="btn btn-outline-success buscar" type="submit">Buscar</button>
                    </form>
                </div>  
            </div>

            <div class=" tab">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Detalle</th>
                            <th>Tipo</th>
                            <th>Sociedad</th>
                            <th>RUC</th>
                
                            <th>Tipo Comprobante</th>
                            <th>N° Comprobante</th>
                            <th>Fecha</th>
                            <th>Moneda</th>
                            <th>Importe Base</th>
                            <th>IGV</th>
                            <th>Total</th>
                            <th>Ind.Impto.</th>
                        </tr>
                    </thead>
                    <tbody> 
                                
                        <tr class="head">
                            <td ><i class="fas fa-chevron-down "></i></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>                     
                    </tbody>
                </table>
            </div>  
        </div>      
    </div>  

</div>


