<div class="container"> 
  <div>
    <h2  style="color: rgb(0, 64, 128)">Registro de Comprobantes de Pago</h2>  
    <div class="row row-cols-1 row-cols-md-4 g-4" >
      <div class="col"   *ngFor="let item of registroCPE">
        <app-dashboard-item   [properties]="item"></app-dashboard-item>
      </div>
    </div>
  </div>

  <br>

  <div>
    <h2  style="color: rgb(0, 64, 128)">Logistica</h2>  
    <div class="row row-cols-1 row-cols-md-4 g-4" >
      <div class="col"   *ngFor="let item of maestros">
        <app-dashboard-item   [properties]="item"></app-dashboard-item>
      </div>
    </div>
  </div>

  <br>

  <div>
    <h2  style="color: rgb(0, 64, 128)">Sistemas de Información</h2>  
    <div class="row row-cols-1 row-cols-md-4 g-4" >
      <div class="col"   *ngFor="let item of serviciosIntegracion">
        <app-dashboard-item   [properties]="item"></app-dashboard-item>
      </div>
    </div>
  </div>
  
  <br>

  <div>
    <h2  style="color: rgb(0, 64, 128)">Configuración</h2>  
    <div class="row row-cols-1 row-cols-md-4 g-4" >
      <div class="col"   *ngFor="let item of administrador">
        <app-dashboard-item   [properties]="item"></app-dashboard-item>
      </div>
    </div>
  </div>       
            
</div>
