<div class="container-fluid"  class="padded"> 
  <div>
    <h2  style="color: #101d2a; text-align: center;">Registro de Comprobantes de Pago</h2>  
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-4" >
      <div class="col"   *ngFor="let item of registroCPE">
        <app-dashboard-item   [properties]="item"></app-dashboard-item>
      </div>
    </div>
  </div>

  <br>

  <div>
    <h2  style="color:#101d2a; text-align: center;">Logistica</h2>  
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-4" >
      <div class="col"   *ngFor="let item of maestros">
        <app-dashboard-item   [properties]="item"></app-dashboard-item>
      </div>
    </div>
  </div>

  <br>

  <div>
    <h2  style="color:#101d2a; text-align: center;">Sistemas de Información</h2>
    <br>  
    <div class="row row-cols-1 row-cols-md-4 g-4" >
      <div class="col"   *ngFor="let item of serviciosIntegracion">
        <app-dashboard-item   [properties]="item"></app-dashboard-item>
      </div>
    </div>
  </div>
  
  <br>

  <div>
    <h2  style="color: #101d2a; text-align: center;">Configuración</h2>
    <br>  
    <div class="row row-cols-1 row-cols-md-4 g-4" >
      <div class="col"   *ngFor="let item of administrador">
        <app-dashboard-item   [properties]="item"></app-dashboard-item>
      </div>
    </div>
  </div>       
            
</div>
